body{
    color:#6a6f8c;
    background:#cfcfcf;
    font-size: 13px;
}

.form-control::-webkit-input-placeholder { /* Chrome */
  font-size: 13px;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  font-size: 13px;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  font-size: 13px;
  opacity: 1;
}
.form-control:-moz-placeholder { /* Firefox 4 - 18 */
  font-size: 13px;
  opacity: 1;
}

#accordion h3{
    background-color: #009688;
    border-color: #009688;
}

.ui-state-active{
    font-weight: bold;
}

.ui-state-default{
    color: #FFFFFF;
}

input[type=text]{
    font-size: 15px;
}

a{
    cursor: pointer;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}
legend{
    border-bottom: 1px solid #EEEEEE;
}

.navbar, .navbar-default{
    height: 40px;
}

.navbar{
    min-height:30px;
}

.login-block legend{
    margin-bottom: 10px;
}

.dropdown-menu{
    background-color: #009681;
}

.navbar .dropdown-menu li > a, 
.navbar.navbar-default .dropdown-menu li > a{
    color: #EEEEEE;
    font-size: 13px;
    padding: 3px 10px;
}

.panel.panel-default > .panel-heading {
    background-color: #009688;
    color: #FFFFFF;
    font-size: 13px;
}

.form-group{
    margin-top: 5px;
}

.modal-body.error_modal_data{
    background-color: #FCFCFC;
    font-weight: bold;
    color: #A13B39;
    text-align: center;
}

.modal-body.success_modal_data{
    background-color: #DFF0D8;
    font-weight: bold;
    color: #468847;
    text-align: center;
}

.new_trip_leg{
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
}

.ui-autocomplete-loading { 
    background:url('../img/ui-anim_basic_16x16.gif') no-repeat right center 
}

.text-maintain{
    padding-top: 10px;
}
.list_contacts{
    margin-top: 10px;
}
.list_contacts span.contact_tab{
    background-color: #D8D8DA;
    border-radius: 10px;
    color: #000000;
    padding: 7px;
}

@media only screen and (min-width: 768px) {

    .login_container{
        margin-top: 7%;
        padding:10px;
    }
    .login-wrap{
        width:40%;
    }
    /*
    .login-wrap{
        border-radius: 10px;
        top: 20%;
        left:30%;
        padding: 20px;
        width:100%;
        margin:auto;
        max-width:40%;
        position:absolute;
        box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    }
    */
    .navbar .navbar-nav > li > a{
        padding:10px;
        font-size: 15px;
        color: #FFFFFF;
    }

    .navbar-brand{
        padding: 6px 15px;
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;
    }

    .navbar .navbar-form {
        margin-top: 4px;
    }

    .remember{
        padding-top:15px;
    }

    .login-block{
        padding: 10px;
    }

    .login-block .row{
        margin-top:10px;
    }

    .signin-butt{
        padding-left: 25%;
    }

    .data{
        max-width: 65%;
    }

    .data .panel{
        max-width: 60%;
    }

    .data .panel-body{
        max-height: 400px;
        overflow-y: auto;
    }
}