body{
    color:#6a6f8c;
    background:#cfcfcf;
    font-size: 13px;
}

input[type=text]{
    font-size: 15px;
}

a{
    cursor: pointer;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}
legend{
    border-bottom: 1px solid #EEEEEE;
}

@media only screen and (max-width: 767px) {
    
    .login-wrap{
        border-radius: 50px;
        top: 22%;
        left:10%;
        padding: 20px;
        width:100%;
        margin:auto;
        max-width:80%;
        position:absolute;
        box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    }
    
    .container-fluid>.navbar-collapse, 
    .container-fluid>.navbar-header, 
    .container>.navbar-collapse, 
    .container>.navbar-header{
        background-color: #009688;
    }
    
    .navbar{
        z-index: 1000;
    }

    .data{
        padding: 30px;
        max-width: 99%;
        box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    }
    .data .panel-body{
        max-height: 300px;
        overflow-y: auto;
    }
}

@media only screen and (min-width: 768px) {
    
    .login-wrap{
        border-radius: 10px;
        top: 20%;
        left:30%;
        padding: 20px;
        width:100%;
        margin:auto;
        max-width:40%;
        position:absolute;
        box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    }
    
    .navbar .navbar-nav > li > a{
        padding:10px;
        font-size: 15px;
        color: #FFFFFF;
    }
    
    .navbar-brand{
        padding: 6px 15px;
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;
    }

    .navbar .navbar-form {
        margin-top: 4px;
    }
    
    .remember{
        padding-top:15px;
    }
    
    .login-block{
        padding: 10px;
    }
    
    .login-block .row{
        margin-top:10px;
    }

    .signin-butt input[type=submit]{
        position: absolute;
        right: 10px;        
    }

    .data{
        max-width: 65%;
    }

    .data .panel{
        max-width: 60%;
    }

    .data .panel-body{
        max-height: 400px;
        overflow-y: auto;
    }
}

.sign-in-htm{
    margin: 5px 10px;
}

.sign-in-htm .row{
    margin-right: 2px;
}

.navbar, .navbar-default{
    height: 40px;
}

.navbar{
    min-height:30px;
}

.login-block legend{
    margin-bottom: 10px;
}

.dropdown-menu{
    background-color: #009681;
}

.navbar .dropdown-menu li > a, 
.navbar.navbar-default .dropdown-menu li > a{
    color: #EEEEEE;
    font-size: 13px;
    padding: 3px 10px;
}

.panel.panel-default > .panel-heading {
    background-color: #009688;
    color: #FFFFFF;
    font-size: 13px;
}

.form-group{
    margin-top: 5px;
}
