body{
    color:#6a6f8c;
    background:#cfcfcf;
    font-size: 13px;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}
legend{
    border-bottom: 1px solid #EEEEEE;
}

@media only screen and (max-width: 767px) {
    
    .login-wrap{
        border-radius: 10px;
        top: 22%;
        left:16%;
        padding: 20px;
        width:100%;
        margin:auto;
        max-width:65%;
        position:absolute;
        box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    }
    
    .container-fluid>.navbar-collapse, 
    .container-fluid>.navbar-header, 
    .container>.navbar-collapse, 
    .container>.navbar-header{
        background-color: #009688;
    }
    
    .navbar{
        z-index: 1000;
    }
}

@media only screen and (min-width: 768px) {
    
    .login-wrap{
        border-radius: 10px;
        top: 20%;
        left:30%;
        padding: 20px;
        width:100%;
        margin:auto;
        max-width:40%;
        position:absolute;
        box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    }
    
    .navbar .navbar-nav > li > a{
        padding:10px;
    }
    
    .navbar-brand{
        padding: 6px 15px;
    }
    .navbar .navbar-form {
        margin-top: 4px;
    }
    
    .remember{
        padding-top:15px;
    }
    
    .login-block{
        padding: 10px;
    }
    
    .login-block .row{
        margin-top:10px;
    }
}

.sign-in-htm{
    margin: 10px;
}

.sign-in-htm .row{
    margin-right: 2px;
}

.navbar, .navbar-default{
    height: 40px;
}

.navbar{
    min-height:30px;
}