<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/material.min.js" type="text/javascript"></script>
<script src="js/ripples.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<!--<script src="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script src="js/common.js"></script>